<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible">
    <title>Football tweets</title>
</head>
<body>

    <h3>Thuis</h3>
    <select class="home">
        <% for(club in clubs.clubs) { %>
            <option value="<%= clubs.clubs[club].hashtag %>"><%= clubs.clubs[club].name %></option>
        <% } %>
    </select>

    <h2>tegen</h2>

    <h3>Uit</h3>
    <select class="away">
        <% for(club in clubs.clubs) { %>
            <option value="<%= clubs.clubs[club].hashtag %>"><%= clubs.clubs[club].name %></option>
            <% } %>
    </select>

    <section class="footballTweets">
        <h2>AZ - Feyenoord</h2>
        <% allTweets.forEach(function(tweet) { %>
            <% if (tweet.text.substr(0,2) == "RT") {}else { %>
            <p><%= tweet.user.name %> @<%= tweet.user.screen_name %>:  "<%= tweet.text %>"     <%= tweet.created_at %></p>
            <% } %>
        <% }) %>
    </section>

    <script src="/socket.io/socket.io.js"></script>
    <script src="script/script.js"></script>

</body>
</html>